* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #121212;
}

#category_wrap {
  width: 100%;
  height: 38px;
  background-color: #097cff;
  margin: 0 auto;
}
#category_wrap #h_category {
  width: 1200px;
  height: 38px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 11px;
}
#category_wrap #h_category a {
  color: #ffffff;
}
#category_wrap #h_category .cate_L {
  width: 540px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
#category_wrap #h_category #R {
  display: flex;
}
#category_wrap #h_category .cate_R {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
#category_wrap #h_category .glo {
  margin-left: 16px;
}

#search_wrap {
  width: 100%;
  height: 112px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  line-height: 50%;
}
#search_wrap .h_search {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
#search_wrap .h_search .h_search2 {
  display: flex;
  align-items: center;
}
#search_wrap .h_search .h_search2 fieldset {
  width: 520px;
  height: 52px;
  border: 2px solid #007aff;
  border-radius: 4px;
  margin-left: 50px;
}
#search_wrap .h_search .h_search2 fieldset input {
  width: 430px;
  height: 48px;
  border: none;
  margin-left: 18px;
}
#search_wrap .h_search .h_search2 fieldset button {
  width: 60px;
  height: 48px;
  border: 0;
  vertical-align: top;
  background: url(/API/img/gnbN4.png) no-repeat 0 0;
  -webkit-appearance: button;
}
#search_wrap .h_search #h_AD {
  width: 180px;
  height: 110px;
  margin-left: 50px;
}
#search_wrap .h_search #h_AD img {
  width: 100%;
  height: 110px;
}

#find_wrap {
  margin: 0 auto;
  width: 100%;
  height: 44px;
  border-bottom: 3px solid #007aff;
  display: flex;
  line-height: 38px;
  align-items: center;
}
#find_wrap .h_find {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
#find_wrap .h_find .R_find {
  display: flex;
  font-weight: 500;
  width: 800px;
}
#find_wrap .h_find .R_find em {
  margin: 16px 10px 0 10px;
  float: left;
  width: 1px;
  height: 10px;
  border-right: solid 1px #ccc;
}
#find_wrap .h_find .R_find .list_1 {
  width: 113px;
  height: 43px;
  background-color: #0080ff;
  font-size: 13px;
  line-height: 42px;
  text-align: center;
  color: #fff;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 {
  display: none;
  position: absolute;
  border: 3px solid #007aff;
  width: 113px;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li {
  position: relative;
  padding-left: 16px;
  text-align: left;
  background-color: #fff;
  z-index: 20;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li a {
  color: #555;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li:hover {
  background-color: #0080ff;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li:hover a {
  color: #fff;
}
#find_wrap .h_find .R_find .list_2 {
  width: 240px;
  display: flex;
  justify-content: space-between;
  line-height: 38px;
  margin-left: 14px;
}
#find_wrap .h_find .R_find .list_2 a {
  color: #0080ff;
}
#find_wrap .h_find .R_find .list_3 {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
#find_wrap .h_find .list_4 {
  width: 460px;
  display: flex;
  justify-content: space-between;
}
#find_wrap .h_find .list_4 a {
  color: #666;
}
#find_wrap .h_find .list_4 li:first-child a {
  color: rgb(102, 190, 255);
}
#find_wrap a {
  font-size: 13px;
  white-space: nowrap;
}

.cate_wrap {
  width: 1200px;
  margin: 0 auto;
  height: 423px;
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.cate_wrap .ct {
  display: flex;
}
.cate_wrap .ct > a {
  padding-left: 14px;
  width: 110px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.cate_wrap .ct:first-of-type .ct_sub {
  display: flex;
  padding: 0;
  border-right: none;
  width: 1090px;
  background-color: #c8e6ff;
}
.cate_wrap .ct:first-of-type .ct_sub img {
  margin-left: 40px;
}

.ct_sub {
  display: flex;
  flex-direction: column;
  width: 129px;
  height: 422px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  position: absolute;
  left: 110px;
  top: 0;
  display: none;
  padding: 10px 0 0 10px;
  font-size: 12px;
}
.ct_sub img {
  margin-left: 118px;
}
.ct_sub em {
  margin: 0 1px;
  color: #ccc;
  font-style: normal;
}
.ct_sub a {
  font-size: 12px;
  color: #666;
}
.ct_sub a:hover {
  text-decoration: underline;
}

.ct_sub2 {
  position: absolute;
  left: 239px;
  top: 0;
  display: none;
}

.sc1_wrap {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 400px;
  margin: 40px auto;
}
.sc1_wrap .Lef {
  border: 1px solid #d8d8d8;
}
.sc1_wrap .Lef .Lef_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 238px;
  height: 268px;
  background-color: white;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
}
.sc1_wrap .Lef .Lef_1 h2 {
  align-self: flex-start;
  margin: 20px 0 0 21px;
  font-size: 16px;
  font-weight: 500;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider {
  display: flex;
  flex-direction: column;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider img {
  width: 200px;
  height: 153px;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider p {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider .Lef_sliderSub {
  margin-top: 12px;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider .Lef_sliderSub:not(:first-of-type) {
  display: none;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider span {
  position: absolute;
  display: block;
  top: 40%;
  border-radius: 2px;
  color: #121212;
  cursor: pointer;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider .prev1 {
  left: 0;
  padding: 5px 5px 5px 6px;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider .next1 {
  right: 0;
  padding: 5px 5px 5px 5px;
}
.sc1_wrap .Lef .Lef_2 {
  width: 238px;
  height: 120px;
  background-color: #fff;
}
.sc1_wrap .Lef .Lef_2 img {
  margin: 8px 0 10px 25px;
  width: 188px;
  height: 99px;
}
.sc1_wrap .Cen {
  width: 790px;
  height: 390px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}
.sc1_wrap .Cen h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0 26px 40px;
}
.sc1_wrap .Cen .Cen_bookwrap {
  display: flex;
  position: relative;
}
.sc1_wrap .Cen .Cen_bookwrap .Cen_book {
  position: absolute;
  width: 560px;
  display: flex;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}
.sc1_wrap .Cen .Cen_book:not(:nth-of-type(1)) {
  display: none;
}
.sc1_wrap .Cen .box img {
  width: 190px;
  height: 280px;
  border: 1px solid #d8d8d8;
}
.sc1_wrap .Cen .textbox {
  margin-left: 20px;
}
.sc1_wrap .Cen .textbox h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.sc1_wrap .Cen .textbox h4 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
}
.sc1_wrap .Cen .textbox h5 {
  font-size: 12px;
  color: #a8a8a8;
  font-weight: 400;
}
.sc1_wrap .Cen .textbox h6 {
  font-size: 16px;
  color: #6699cc;
  font-weight: 500;
}
.sc1_wrap .Cen .textbox p {
  margin-top: 16px;
  font-size: 13px;
  color: #a8a8a8;
}
.sc1_wrap .Cen .prev7 {
  position: absolute;
  top: 48%;
  left: 0;
  padding: 8px 12px 8px 10px;
  background-color: #696969;
  color: #fff;
}
.sc1_wrap .Cen .next7 {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 8px 10px 8px 12px;
  background-color: #696969;
  color: #fff;
}
.sc1_wrap .Cen span:hover {
  cursor: pointer;
}
.sc1_wrap .Rig {
  width: 240px;
  height: 389px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}
.sc1_wrap .Rig .Rig_p {
  display: flex;
  justify-content: space-evenly;
}
.sc1_wrap .Rig .Rig_p p {
  width: 120px;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #d8d8d8;
}
.sc1_wrap .Rig .Rig_p p:nth-of-type(1) {
  border-right: 1px solid #d8d8d8;
}
.sc1_wrap .Rig select {
  width: 200px;
  margin: 10px 0 0 18px;
}
.sc1_wrap .Rig .rankwrap {
  width: 240px;
  margin-left: 18px;
}
.sc1_wrap .Rig .rankwrap em {
  font-size: 12px;
  font-style: normal;
  color: #cecece;
}
.sc1_wrap .Rig .rankwrap a {
  font-size: 12px;
}
.sc1_wrap .Rig .rank_book {
  display: flex;
  flex-direction: column;
}
.sc1_wrap .Rig .rank_book .rank_bookSub {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.sc1_wrap .Rig .rank_book .rank_bookSub p {
  margin-left: 6px;
}
.sc1_wrap .Rig .rank_book .rank_bookSub p:nth-of-type(1) {
  font-size: 14px;
}
.sc1_wrap .Rig .rank_book .rank_bookSub p:nth-of-type(2) {
  font-size: 12px;
  color: #666;
}
.sc1_wrap .Rig .rank_book span {
  width: 14px;
  height: 14px;
  font-size: 10px;
  text-align: center;
  background-color: #4383d6;
  color: #fff;
  line-height: 14px;
}
.sc1_wrap .Rig .rank_book .book_img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}
.sc1_wrap .Rig .rank_book .book_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.sc2_wrap {
  width: 1200px;
  height: 385px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  border: 1px solid #d8d8d8;
}
.sc2_wrap .sc2_Lef {
  position: relative;
}
.sc2_wrap .sc2_Lef span:hover {
  cursor: pointer;
}
.sc2_wrap .sc2_Lef .prev2 {
  position: absolute;
  top: 168px;
  left: 0;
  padding: 5px 8px 5px 6px;
  background-color: #696969;
  color: #fff;
}
.sc2_wrap .sc2_Lef .next2 {
  position: absolute;
  top: 168px;
  right: 0;
  padding: 5px 5px 5px 5px;
  background-color: #696969;
  color: #fff;
}
.sc2_wrap .sc2_Lef h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 40px 0 -20px 60px;
}
.sc2_wrap .sc2_Lef .thisbook_wrap {
  display: flex;
}
.sc2_wrap .sc2_Lef .thisbook_wrap .thisbook {
  width: 959px;
  height: 383px;
  display: flex;
  align-items: center;
}
.sc2_wrap .sc2_Lef .thisbook_wrap .thisbook .box {
  width: 260px;
  height: 300px;
  border-radius: 4px;
  white-space: nowrap;
  text-align: center;
}
.sc2_wrap .sc2_Lef .thisbook_wrap .thisbook .box img {
  width: 130px;
  height: auto;
}
.sc2_wrap .sc2_Lef .thisbook_wrap .thisbook .box img:hover {
  opacity: 0.5;
}
.sc2_wrap .sc2_Lef .thisbook_wrap .thisbook .box h3 {
  font-size: 14px;
  font-weight: 600;
}
.sc2_wrap .sc2_Lef .thisbook_wrap .thisbook .box h4 {
  font-size: 13px;
  font-weight: 500;
}
.sc2_wrap .sc2_Lef .thisbook_wrap .thisbook .box h5 {
  font-size: 12px;
  color: #a8a8a8;
  font-weight: 400;
}
.sc2_wrap .sc2_Lef .thisbook_wrap .thisbook:not(:nth-of-type(1)) {
  display: none;
}
.sc2_wrap .AD_2 {
  width: 238px;
  height: 383px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf5fe;
}
.sc2_wrap .AD_2 h2 {
  font-size: 16px;
  font-weight: 500;
  align-self: flex-start;
  margin: 26px 0 0 40px;
}
.sc2_wrap .AD_2 .AD_2sub {
  width: 208px;
  height: 174px;
  padding: 30px 30px 30px;
}
.sc2_wrap .AD_2 .AD_2sub:nth-of-type(1) {
  border-bottom: 1px solid #c9d9ea;
}
.sc2_wrap .AD_2 .AD_2sub img {
  width: 158px;
  height: 100px;
}

.banner {
  width: 1200px;
  height: 200px;
  margin-top: 40px;
  position: relative;
}
.banner .banner1 {
  width: 100%;
  position: absolute;
  z-index: 12;
}
.banner .banner2 {
  position: absolute;
  z-index: 13;
  left: 25%;
}

.sc3_wrap {
  width: 1200px;
  height: 369px;
  margin: 40px auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  border: 1px solid #d8d8d8;
}
.sc3_wrap .sc3_Lef {
  position: relative;
}
.sc3_wrap .sc3_Lef span:hover {
  cursor: pointer;
}
.sc3_wrap .sc3_Lef .prev3 {
  position: absolute;
  top: 168px;
  left: 0;
  padding: 5px 8px 5px 6px;
  background-color: #696969;
  color: #fff;
}
.sc3_wrap .sc3_Lef .next3 {
  position: absolute;
  top: 168px;
  right: 0;
  padding: 5px 5px 5px 5px;
  background-color: #696969;
  color: #fff;
}
.sc3_wrap .sc3_Lef h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 40px 0 -20px 60px;
}
.sc3_wrap .sc3_Lef .cblue {
  color: #0080ff;
}
.sc3_wrap .thisbook_wrap2 {
  display: flex;
}
.sc3_wrap .thisbook_wrap2 .thisbook2 {
  width: 959px;
  height: 367px;
  display: flex;
  align-items: center;
}
.sc3_wrap .thisbook_wrap2 .thisbook2 .box {
  width: 260px;
  height: 302px;
  border-radius: 4px;
  white-space: nowrap;
  text-align: center;
}
.sc3_wrap .thisbook_wrap2 .thisbook2 .box img {
  width: 130px;
  height: auto;
}
.sc3_wrap .thisbook_wrap2 .thisbook2 .box img:hover {
  opacity: 0.5;
}
.sc3_wrap .thisbook_wrap2 .thisbook2 .box h3 {
  font-size: 14px;
  font-weight: 600;
}
.sc3_wrap .thisbook_wrap2 .thisbook2 .box h4 {
  font-size: 13px;
  font-weight: 500;
}
.sc3_wrap .thisbook_wrap2 .thisbook2 .box h5 {
  font-size: 12px;
  color: #a8a8a8;
  font-weight: 400;
}
.sc3_wrap .thisbook_wrap2 .thisbook2:not(:nth-of-type(1)) {
  display: none;
}
.sc3_wrap .AD_3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc3_wrap .AD_3 .AD_3sub {
  width: 238px;
  height: 369px;
  overflow: hidden;
}
.sc3_wrap .AD_3 .AD_3sub img {
  width: 100%;
  height: auto;
  margin-top: 1.5px;
}
.sc3_wrap .AD_3 .AD_3sub:not(:nth-of-type(1)) {
  display: none;
}

.pick_wrap {
  width: 1200px;
  margin: 0 auto;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}
.pick_wrap .pick_click {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pick_wrap .pick_click div {
  text-align: center;
  width: 172px;
  height: 68px;
}
.pick_wrap .pick_click div p {
  font-size: 12px;
  color: #333;
}
.pick_wrap .pick_click div:nth-of-type(1) {
  border-top: 1px solid #d8d8d8;
}
.pick_wrap .pick_click div:not(:nth-of-type(1)) {
  background-color: #eeeeee;
  border: 1px solid #d8d8d8;
}
.pick_wrap .pick_click .read_b em.icon {
  background-position: 0 -200px;
}
.pick_wrap .pick_click .used_b em.icon {
  background-position: -400px -200px;
}
.pick_wrap .pick_click .eBook_b em.icon {
  background-position: -50px -200px;
}
.pick_wrap .pick_click .CDLP_b em.icon {
  background-position: -150px -200px;
}
.pick_wrap .pick_click .DVDBD_b em.icon {
  background-position: -200px -200px;
}
.pick_wrap .pick_click .GIFT_b em.icon {
  background-position: -350px -200px;
}
.pick_wrap .pick_click .ticket_b em.icon {
  background-position: -300px -200px;
}
.pick_wrap .pick_click .icon {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 40px;
  overflow: hidden;
  text-indent: -999em;
  background: url(/API/img/welcome_multi_n.png) no-repeat 0 -200px;
}
.pick_wrap .pickname {
  height: 20px;
  margin: 40px 0 10px 60px;
}
.pick_wrap .pickname .pickh2 {
  font-size: 16px;
  font-weight: 500;
}
.pick_wrap .read {
  position: relative;
}
.pick_wrap .read .read_slider {
  display: flex;
  justify-content: center;
  height: 370px;
  padding-top: 20px;
  border-bottom: 1px solid #d8d8d8;
}
.pick_wrap .read .read_slider_sub {
  display: flex;
}
.pick_wrap .read .read_slider_sub:not(:nth-of-type(1)) {
  display: none;
}
.pick_wrap .read .box {
  width: 360px;
  height: 302px;
  border-radius: 4px;
  white-space: nowrap;
  text-align: center;
}
.pick_wrap .read .box img {
  width: 160px;
  height: auto;
  border-radius: 6px;
}
.pick_wrap .read .box img:hover {
  opacity: 0.5;
}
.pick_wrap .read .box h3 {
  font-size: 14px;
  font-weight: 600;
}
.pick_wrap .read .box h4 {
  font-size: 13px;
  font-weight: 500;
}
.pick_wrap .read .box h5 {
  font-size: 12px;
  color: #a8a8a8;
  font-weight: 400;
}
.pick_wrap .read span:hover {
  cursor: pointer;
}
.pick_wrap .read .prev4 {
  position: absolute;
  top: 126px;
  left: 0;
  padding: 8px 12px 8px 10px;
  background-color: #696969;
  color: #fff;
}
.pick_wrap .read .next4 {
  position: absolute;
  top: 126px;
  right: 0;
  padding: 8px 10px 8px 12px;
  background-color: #696969;
  color: #fff;
}
.pick_wrap .read .read_sub {
  height: 198px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pick_wrap .read .read_sub .textbox {
  width: 343px;
}
.pick_wrap .read .read_sub .textbox h3 {
  font-size: 16px;
  font-weight: 500;
}
.pick_wrap .read .read_sub .textbox p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}
.pick_wrap .read .read_sub .read_bookbox {
  width: 560px;
  display: flex;
  justify-content: space-around;
}
.pick_wrap .read .read_sub .read_bookbox div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pick_wrap .read .read_sub .read_bookbox img {
  width: 83px;
  height: 120px;
  border: 1px solid #d8d8d8;
}
.pick_wrap .read .read_sub .read_bookbox h4 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

.mov_wrap {
  width: 1200px;
  height: 420px;
  margin: 40px auto;
  border: 1px solid #d8d8d8;
  position: relative;
}
.mov_wrap .mov_mid:not(:nth-of-type(1)) {
  display: none;
}
.mov_wrap > div {
  margin: 36px 0 -20px 60px;
}
.mov_wrap > div h2 {
  font-size: 16px;
  font-weight: 500;
}
.mov_wrap .mov_midwrap {
  display: flex;
  width: 1200px;
  height: 420px;
}
.mov_wrap .mov_mid {
  display: flex;
  width: 1200px;
}
.mov_wrap .mov_mid .mov h3 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 6px;
  white-space: nowrap;
}
.mov_wrap .mov_mid .with {
  margin-left: 80px;
}
.mov_wrap .mov_mid .with .withname {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
.mov_wrap .mov_mid .with .with_book {
  display: flex;
  width: 420px;
}
.mov_wrap .mov_mid .with .with_book2 {
  display: flex;
  width: 420px;
}
.mov_wrap .mov_mid .with .with_book3 {
  display: flex;
  width: 420px;
}
.mov_wrap .mov_mid .with .box img {
  width: 130px;
  height: auto;
}
.mov_wrap .mov_mid .with .textbox {
  margin-left: 20px;
}
.mov_wrap .mov_mid .with .textbox h3 {
  font-size: 14px;
  font-weight: 600;
}
.mov_wrap .mov_mid .with .textbox h4 {
  font-size: 13px;
  font-weight: 500;
}
.mov_wrap .mov_mid .with .textbox h5 {
  font-size: 12px;
  color: #a8a8a8;
  font-weight: 400;
}
.mov_wrap .mov_mid .with .textbox h6 {
  font-size: 12px;
  color: #6699cc;
  font-weight: 400;
  margin-bottom: 20px;
}
.mov_wrap .mov_mid .with .textbox p {
  margin-top: 10px;
  font-size: 12px;
  color: #3a3a3a;
}
.mov_wrap .prev5 {
  position: absolute;
  top: 48%;
  left: 0;
  padding: 8px 12px 8px 10px;
  background-color: #696969;
  color: #fff;
}
.mov_wrap .next5 {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 8px 10px 8px 12px;
  background-color: #696969;
  color: #fff;
}
.mov_wrap span:hover {
  cursor: pointer;
}

.section6_wrap {
  width: 1200px;
  height: 460px;
  margin: 40px auto;
  border: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
}
.section6_wrap .cardnews_wrap {
  margin-left: 60px;
  width: 350px;
  height: 350px;
  position: relative;
}
.section6_wrap .cardnews_wrap h2 {
  font-size: 16px;
  font-weight: 500;
  margin: -26px 0 20px 0;
}
.section6_wrap .cardnews_wrap .cardnews {
  display: flex;
}
.section6_wrap .cardnews_wrap .cardnews img {
  width: 350px;
  height: 350px;
}
.section6_wrap .cardnews_wrap .cardimg:not(:nth-of-type(1)) {
  display: none;
}
.section6_wrap .prev6 {
  position: absolute;
  top: 44%;
  left: 0;
  padding: 8px 10px 8px 8px;
  background-color: rgba(95, 95, 95, 0.5);
  color: #fff;
}
.section6_wrap .next6 {
  position: absolute;
  top: 44%;
  right: 0;
  padding: 8px 8px 8px 10px;
  background-color: rgba(95, 95, 95, 0.5);
  color: #fff;
}
.section6_wrap span:hover {
  cursor: pointer;
}
.section6_wrap .cnyes {
  width: 686px;
  height: 460px;
  margin-left: 68px;
  border-left: 1px solid #d8d8d8;
}
.section6_wrap .cnyes h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 26px 0 20px 50px;
}
.section6_wrap .cnyes .cnyes_all {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.section6_wrap .cnyes .cnyes_all img {
  width: 158px;
  height: 111px;
  border: 1px solid #999999;
}
.section6_wrap .cnyes .cnyes_all h2 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
.section6_wrap .cnyes .cnyes_all h3 {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.section6_wrap .cnyes .cnyes_top {
  height: 170px;
  display: flex;
  justify-content: space-between;
}
.section6_wrap .cnyes .cnyes_top div {
  width: 158px;
}
.section6_wrap .cnyes .cnyes_bot {
  margin-top: 30px;
  height: 170px;
  display: flex;
  justify-content: space-between;
}
.section6_wrap .cnyes .cnyes_bot div {
  width: 158px;
}

.noti_wrap {
  width: 1200px;
  border: 1px solid #d8d8d8;
  background-color: #f8f8f8;
  margin: 0 auto;
}
.noti_wrap .noti_top {
  display: flex;
  align-items: center;
  height: 30px;
}
.noti_wrap .noti_top h2 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 60px;
  margin-top: 16px;
}
.noti_wrap .noti_top ul {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-left: 60px;
  margin-top: 16px;
}
.noti_wrap .noti_top ul li {
  color: #666;
  font-size: 12px;
}
.noti_wrap .noti_top a {
  color: #666;
  font-size: 12px;
  margin-left: 360px;
  margin-top: 16px;
}
.noti_wrap .noti_bot {
  text-align: center;
  margin-top: 20px;
  width: 1200px;
  height: 110px;
  border-top: 1px solid #d8d8d8;
}
.noti_wrap .noti_bot img {
  margin-top: 25px;
  width: 479px;
  height: 58px;
}