* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #121212;
}

#category_wrap {
  width: 100%;
  height: 38px;
  background-color: #097cff;
  margin: 0 auto;
}
#category_wrap #h_category {
  width: 1200px;
  height: 38px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 11px;
}
#category_wrap #h_category a {
  color: #ffffff;
}
#category_wrap #h_category .cate_L {
  width: 540px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
#category_wrap #h_category #R {
  display: flex;
}
#category_wrap #h_category .cate_R {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
#category_wrap #h_category .glo {
  margin-left: 16px;
}

#search_wrap {
  width: 100%;
  height: 112px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  line-height: 50%;
}
#search_wrap .h_search {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
#search_wrap .h_search .h_search2 {
  display: flex;
  align-items: center;
}
#search_wrap .h_search .h_search2 fieldset {
  width: 520px;
  height: 52px;
  border: 2px solid #007aff;
  border-radius: 4px;
  margin-left: 50px;
}
#search_wrap .h_search .h_search2 fieldset input {
  width: 430px;
  height: 48px;
  border: none;
  margin-left: 18px;
}
#search_wrap .h_search .h_search2 fieldset button {
  width: 60px;
  height: 48px;
  border: 0;
  vertical-align: top;
  background: url(/API/img/gnbN4.png) no-repeat 0 0;
  -webkit-appearance: button;
}
#search_wrap .h_search #h_AD {
  width: 180px;
  height: 110px;
  margin-left: 50px;
}
#search_wrap .h_search #h_AD img {
  width: 100%;
  height: 110px;
}

#find_wrap {
  margin: 0 auto;
  width: 100%;
  height: 44px;
  border-bottom: 3px solid #007aff;
  display: flex;
  line-height: 38px;
  align-items: center;
}
#find_wrap .h_find {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
#find_wrap .h_find .R_find {
  display: flex;
  font-weight: 500;
  width: 800px;
}
#find_wrap .h_find .R_find em {
  margin: 16px 10px 0 10px;
  float: left;
  width: 1px;
  height: 10px;
  border-right: solid 1px #ccc;
}
#find_wrap .h_find .R_find .list_1 {
  width: 113px;
  height: 43px;
  background-color: #0080ff;
  font-size: 13px;
  line-height: 42px;
  text-align: center;
  color: #fff;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 {
  display: none;
  position: absolute;
  border: 3px solid #007aff;
  width: 113px;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li {
  position: relative;
  padding-left: 16px;
  text-align: left;
  background-color: #fff;
  z-index: 20;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li a {
  color: #555;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li:hover {
  background-color: #0080ff;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li:hover a {
  color: #fff;
}
#find_wrap .h_find .R_find .list_2 {
  width: 240px;
  display: flex;
  justify-content: space-between;
  line-height: 38px;
  margin-left: 14px;
}
#find_wrap .h_find .R_find .list_2 a {
  color: #0080ff;
}
#find_wrap .h_find .R_find .list_3 {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
#find_wrap .h_find .list_4 {
  width: 460px;
  display: flex;
  justify-content: space-between;
}
#find_wrap .h_find .list_4 a {
  color: #666;
}
#find_wrap .h_find .list_4 li:first-child a {
  color: rgb(102, 190, 255);
}
#find_wrap a {
  font-size: 13px;
  white-space: nowrap;
}

.cate_wrap {
  width: 1200px;
  margin: 0 auto;
  height: 423px;
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.cate_wrap .ct {
  display: flex;
}
.cate_wrap .ct > a {
  padding-left: 14px;
  width: 110px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.cate_wrap .ct:first-of-type .ct_sub {
  display: flex;
  padding: 0;
  border-right: none;
  width: 1090px;
  background-color: #c8e6ff;
}

.ct_sub {
  display: flex;
  flex-direction: column;
  width: 129px;
  height: 422px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  position: absolute;
  left: 110px;
  top: 0;
  display: none;
  padding: 10px 0 0 10px;
  font-size: 12px;
}
.ct_sub img {
  margin-left: 118px;
}
.ct_sub em {
  margin: 0 1px;
  color: #ccc;
  font-style: normal;
}
.ct_sub a {
  font-size: 12px;
  color: #666;
}
.ct_sub a:hover {
  text-decoration: underline;
}

.ct_sub2 {
  position: absolute;
  left: 239px;
  top: 0;
  display: none;
}

.sc1_wrap {
  display: flex;
  width: 1200px;
  height: 400px;
  margin: 40px auto;
  background-color: #ccdde6;
}
.sc1_wrap .Lef {
  border: 1px solid #d8d8d8;
}
.sc1_wrap .Lef .Lef_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 238px;
  height: 268px;
  background-color: white;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
}
.sc1_wrap .Lef .Lef_1 h2 {
  align-self: flex-start;
  margin: 16px 0 0 21px;
  font-size: 16px;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider {
  display: flex;
  flex-direction: column;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider img {
  width: 200px;
  height: 153px;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider p {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider .Lef_sliderSub {
  margin-top: 12px;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider .Lef_sliderSub:not(:first-of-type) {
  display: none;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider span {
  position: absolute;
  display: block;
  top: 40%;
  border-radius: 2px;
  color: #121212;
  cursor: pointer;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider .prev {
  left: 0;
  padding: 5px 5px 5px 6px;
}
.sc1_wrap .Lef .Lef_1 .Lef_slider .next {
  right: 0;
  padding: 5px 5px 5px 5px;
}
.sc1_wrap .Lef .Lef_2 {
  width: 238px;
  height: 120px;
  background-color: #fff;
}
.sc1_wrap .Lef .Lef_2 img {
  margin: 8px 0 10px 25px;
  width: 188px;
  height: 99px;
}
.sc1_wrap .Cen {
  width: 720px;
  height: 389px;
}
.sc1_wrap .Rig {
  width: 240px;
  height: 389px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}
.sc1_wrap .Rig .Rig_p {
  display: flex;
  justify-content: space-evenly;
}
.sc1_wrap .Rig .Rig_p p {
  width: 120px;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  border: 1px solid #d8d8d8;
}
.sc1_wrap .Rig select {
  width: 200px;
  margin-left: 18px;
}
.sc1_wrap .Rig .rankwrap em {
  font-size: 12px;
  font-style: normal;
  color: #cecece;
}
.sc1_wrap .Rig .rankwrap a {
  font-size: 12px;
}
.sc1_wrap .Rig .rank_book {
  display: flex;
  flex-direction: column;
}
.sc1_wrap .Rig .rank_book .rank_bookSub {
  display: flex;
}
.sc1_wrap .Rig .rank_book .num {
  width: 12px;
  height: 12px;
  font-size: 12px;
  text-align: center;
  background-color: #4383d6;
  color: #fff;
}
.sc1_wrap .Rig .rank_book .book_img {
  width: 60px;
  height: 60px;
}
.sc1_wrap .Rig .rank_book .book_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}