* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #121212;
}

#category_wrap {
  width: 100%;
  height: 38px;
  background-color: #097cff;
  margin: 0 auto;
}
#category_wrap #h_category {
  width: 1200px;
  height: 38px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 11px;
}
#category_wrap #h_category a {
  color: #ffffff;
}
#category_wrap #h_category .cate_L {
  width: 540px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
#category_wrap #h_category #R {
  display: flex;
}
#category_wrap #h_category .cate_R {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
#category_wrap #h_category .glo {
  margin-left: 16px;
}

#search_wrap {
  width: 100%;
  height: 112px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  line-height: 50%;
}
#search_wrap .h_search {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
#search_wrap .h_search .h_search2 {
  display: flex;
  align-items: center;
}
#search_wrap .h_search .h_search2 fieldset {
  width: 520px;
  height: 52px;
  border: 2px solid #007aff;
  border-radius: 4px;
  margin-left: 50px;
}
#search_wrap .h_search .h_search2 fieldset input {
  width: 430px;
  height: 48px;
  border: none;
  margin-left: 18px;
}
#search_wrap .h_search .h_search2 fieldset button {
  width: 60px;
  height: 48px;
  border: 0;
  vertical-align: top;
  background: url(/API/img/gnbN4.png) no-repeat 0 0;
  -webkit-appearance: button;
}
#search_wrap .h_search #h_AD {
  width: 180px;
  height: 110px;
  margin-left: 50px;
}
#search_wrap .h_search #h_AD img {
  width: 100%;
  height: 110px;
}

#find_wrap {
  margin: 0 auto;
  width: 100%;
  height: 44px;
  border-bottom: 3px solid #007aff;
  display: flex;
  line-height: 38px;
  align-items: center;
}
#find_wrap .h_find {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
#find_wrap .h_find .R_find {
  display: flex;
  font-weight: 500;
  width: 800px;
}
#find_wrap .h_find .R_find em {
  margin: 16px 10px 0 10px;
  float: left;
  width: 1px;
  height: 10px;
  border-right: solid 1px #ccc;
}
#find_wrap .h_find .R_find .list_1 {
  width: 113px;
  height: 43px;
  background-color: #0080ff;
  font-size: 13px;
  line-height: 42px;
  text-align: center;
  color: #fff;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 {
  display: none;
  position: absolute;
  border: 3px solid #007aff;
  width: 113px;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li {
  position: relative;
  padding-left: 16px;
  text-align: left;
  background-color: #fff;
  z-index: 20;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li a {
  color: #555;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li:hover {
  background-color: #0080ff;
}
#find_wrap .h_find .R_find .list_1 .list_sub1 li:hover a {
  color: #fff;
}
#find_wrap .h_find .R_find .list_2 {
  width: 240px;
  display: flex;
  justify-content: space-between;
  line-height: 38px;
  margin-left: 14px;
}
#find_wrap .h_find .R_find .list_2 a {
  color: #0080ff;
}
#find_wrap .h_find .R_find .list_3 {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
#find_wrap .h_find .list_4 {
  width: 460px;
  display: flex;
  justify-content: space-between;
}
#find_wrap .h_find .list_4 a {
  color: #666;
}
#find_wrap .h_find .list_4 li:first-child a {
  color: rgb(102, 190, 255);
}
#find_wrap a {
  font-size: 13px;
  white-space: nowrap;
}

.footer_wrap1 {
  width: 100%;
  height: 44px;
  background-color: #dfdfdf;
  border: 1px solid #d8d8d8;
  margin-top: 40px;
}
.footer_wrap1 .footer_1200_1 {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  transform: translateY(50%);
  margin: 0 auto;
}
.footer_wrap1 .footer_1200_1 .footerLi {
  width: 680px;
}
.footer_wrap1 .footer_1200_1 .footerLi ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_wrap1 .footer_1200_1 .footerLi ul li {
  font-size: 12px;
  color: #666;
  position: relative;
}
.footer_wrap1 .footer_1200_1 .footerLi ul li:after {
  content: "";
  position: absolute;
  border-right: solid 1px #ccc;
  height: 10px;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}
.footer_wrap1 .footer_1200_1 .footerLi ul li:last-child::after {
  display: none;
}
.footer_wrap1 .footer_1200_1 .footerLi ul .font_b {
  font-weight: 500;
  color: #333;
}
.footer_wrap1 .footer_1200_1 .fticon {
  display: flex;
  line-height: 50%;
}
.footer_wrap1 .footer_1200_1 .fticon img {
  width: 80px;
  height: auto;
  margin-top: -4px;
}
.footer_wrap1 .footer_1200_1 .fticon select {
  font-size: 12px;
  height: 18px;
  color: #666;
  margin-left: 6px;
}

.footer_wrap2 {
  width: 100%;
  height: 260px;
  background-color: #dfdfdf;
  border-bottom: 1px solid #d8d8d8;
}
.footer_wrap2 .footer_all {
  width: 1200px;
  margin: 0 auto;
}
.footer_wrap2 .footer_all .fw_top {
  width: 1200px;
  display: flex;
}
.footer_wrap2 .footer_all .fw_top img {
  margin: 12px 20px 0 0;
  width: 162px;
  height: 123px;
}
.footer_wrap2 .footer_all .fw_top h2 {
  font-size: 13px;
  color: #555;
  margin: 20px 0 6px 0;
}
.footer_wrap2 .footer_all .fw_top h4 {
  font-size: 11px;
  color: #999;
  font-weight: 400;
  line-height: 20px;
}
.footer_wrap2 .footer_all .fw_top .customer {
  margin-left: 560px;
}
.footer_wrap2 .footer_all .fw_top .customer h2 {
  font-size: 15px;
  color: #999;
  font-weight: 500;
}
.footer_wrap2 .footer_all .fw_top .customer p {
  font-size: 11px;
  color: #666;
}
.footer_wrap2 .footer_all .fw_top .customer p span {
  font-size: 13px;
  color: #333;
  font-weight: 600;
}
.footer_wrap2 .footer_all .fw_bot {
  width: 1200px;
  margin: 0 auto;
}
.footer_wrap2 .footer_all .fw_bot img {
  margin: 0 auto;
  display: block;
  margin-top: 8px;
  width: 1100px;
  height: auto;
}

.categ {
  width: 100%;
  height: 41px;
  background-color: #f8f8f8;
  border-bottom: solid 1px #e5e5e5;
}
.categ .categ_txt {
  width: 1200px;
  margin: 0 auto;
  height: 41px;
}
.categ h3 {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  line-height: 40px;
  margin-left: 12px;
}

.book_pfwrap {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
}
.book_pfwrap .bookimg_3D {
  margin: 50px 30px 0 60px;
  width: 350px;
  height: 600px;
  perspective: 1400px;
  transform-style: preserve-3d;
}
.book_pfwrap .bookimg_3D .book3D {
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  cursor: url(/API/img/ico_flip.svg), pointer !important;
  width: 350px;
  height: 520px;
  box-shadow: 20px 12px 14px #c4c4c4;
}
.book_pfwrap .bookimg_3D .book3D .front {
  width: 350px;
  height: 520px;
  position: absolute;
  left: 0;
  top: 0;
}
.book_pfwrap .bookimg_3D .book3D:hover {
  transform: rotateY(40deg);
}
.book_pfwrap .bookimg_3D .book3D.rotate {
  transform: rotateY(180deg);
}
.book_pfwrap .bookimg_3D .book3D::before {
  content: "";
  width: 46px;
  height: 520px;
  position: absolute;
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(90deg);
  background-image: url(../img/sub_book_s.jpg);
  left: 0;
  top: 0;
}
.book_pfwrap .bookimg_3D .book3D::after {
  content: "";
  width: 350px;
  height: 520px;
  position: absolute;
  background-image: url(../img/sub_book_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  transform-origin: left;
  transform: rotateY(180deg) translateZ(30px) translateX(-346px);
  left: 2px;
  backface-visibility: hidden;
}
.book_pfwrap .bookimg_3D .bookimg_btn {
  margin: 34px 0 0 25px;
  position: absolute;
}
.book_pfwrap .bookimg_3D button {
  width: 96px;
  height: 30px;
  background-color: #fff;
  font-size: 12px;
  color: #121212;
  font-weight: 500;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
}
.book_pfwrap .book_sub {
  width: 480px;
  height: 650px;
  margin-left: 30px;
  margin-top: 40px;
}
.book_pfwrap .book_sub .sub_le .sub1_1 {
  width: 600px;
  border-bottom: solid 1px #e5e5e5;
  height: 160px;
}
.book_pfwrap .book_sub .sub_le .sub1_1 span {
  font-size: 11px;
  color: #666;
  padding: 2px 6px 4px 6px;
  border: solid 0.5px #e5e5e5;
  border-radius: 4px;
}
.book_pfwrap .book_sub .sub_le .sub1_1 h1 {
  font-size: 25px;
  color: #333;
  margin-top: 10px;
}
.book_pfwrap .book_sub .sub_le .sub1_1 ul {
  display: flex;
  justify-content: space-between;
  width: 213px;
  margin-top: 10px;
}
.book_pfwrap .book_sub .sub_le .sub1_1 ul li {
  font-size: 12px;
  color: #666;
  position: relative;
}
.book_pfwrap .book_sub .sub_le .sub1_1 ul li:after {
  content: "";
  position: absolute;
  border-right: solid 1px #ccc;
  height: 10px;
  right: -12px;
  top: 50%;
  margin-right: 4px;
  transform: translateY(-50%);
}
.book_pfwrap .book_sub .sub_le .sub1_1 ul li:last-child::after {
  display: none;
}
.book_pfwrap .book_sub .sub_le .star {
  display: flex;
  align-items: baseline;
  margin-top: 8px;
}
.book_pfwrap .book_sub .sub_le .star img {
  width: 90px;
  height: 16px;
}
.book_pfwrap .book_sub .sub_le .star p {
  font-size: 12px;
  color: #333;
  position: relative;
  margin-right: 14px;
}
.book_pfwrap .book_sub .sub_le .star p .star_score {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  border: none;
}
.book_pfwrap .book_sub .sub_le .star .sell {
  display: flex;
  align-items: center;
}
.book_pfwrap .book_sub .sub_le .star .sell p {
  margin-right: 6px;
}
.book_pfwrap .book_sub .sub_le .star .sell img {
  width: 50px;
  height: 20px;
}
.book_pfwrap .sub2 {
  border-bottom: solid 0.5px #e5e5e5;
  padding: 20px 0 24px 0;
}
.book_pfwrap .sub2 tr {
  font-size: 12px;
  color: #666;
  text-align: left;
}
.book_pfwrap .sub2 tr th {
  width: 100px;
  font-weight: 400;
  height: 30px;
}
.book_pfwrap .sub2 tr .th_b {
  font-weight: 600;
}
.book_pfwrap .sub2 tr .clr {
  color: #f66;
}
.book_pfwrap .sub2 tr .clred {
  font-size: 24px;
  color: #f66;
  font-weight: 600;
  margin-left: -4px;
}
.book_pfwrap .sub2 tr .help {
  border: solid 0.5px #e5e5e5;
  padding: 0 6px 2px 6px;
  margin-left: 5px;
  box-shadow: 1px 1px 1px #cccccc;
}
.book_pfwrap .sub_3 {
  border-bottom: solid 0.5px #e5e5e5;
  padding: 20px 0 24px 0;
}
.book_pfwrap .sub_3 table {
  font-size: 12px;
  color: #666;
  text-align: left;
}
.book_pfwrap .sub_3 table th {
  width: 100px;
  font-weight: 400;
}
.book_pfwrap .sub_4 {
  padding: 20px 0 24px 0;
}
.book_pfwrap .sub_4 table {
  font-size: 12px;
  color: #666;
  text-align: left;
}
.book_pfwrap .sub_4 table th {
  font-weight: 400;
  width: 100px;
}
.book_pfwrap .sub_4 .bgblue {
  display: flex;
  align-items: baseline;
  background-color: #edf5fe;
  width: 480px;
  height: 50px;
  padding-top: 15px;
  margin-top: 16px;
}
.book_pfwrap .sub_4 .bgblue span {
  color: #666;
  border: 1px solid #e5e5e5;
  padding: 0 6px 4px 6px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 8px;
  font-size: 11px;
  margin-left: 20px;
}
.book_pfwrap .sub_4 .bgblue p {
  font-size: 12px;
}
.book_pfwrap .sub_4 .bgblue .p1 {
  font-weight: 500;
}
.book_pfwrap .sub_4 .bgblue .p2 {
  color: #666;
  margin-left: 6px;
}
.book_pfwrap .sub_4 .free {
  font-size: 12px;
  color: #666;
  margin-top: 16px;
  line-height: 50%;
}
.book_pfwrap .sub_4 .free span {
  border: 1px solid #e5e5e5;
  padding: 0 6px 2px 6px;
  box-shadow: 1px 1px 1px #cccccc;
}
.book_pfwrap .sub_5 {
  width: 480px;
  height: 30px;
  border: 1px solid #e5e5e5;
}
.book_pfwrap .sub_5 p {
  font-size: 12px;
  color: #666;
  margin-left: 20px;
  padding-top: 5px;
}
.book_pfwrap .sub_5 p span {
  color: #69c;
}
.book_pfwrap .sub_ri {
  width: 220px;
  background-color: #ebebeb;
  padding-left: 20px;
  height: 430px;
  margin-top: 199px;
  border-top: 1px solid #e5e5e5;
  margin-left: 43px;
}
.book_pfwrap .sub_ri .count {
  width: 180px;
  border-bottom: 1px solid #cacaca;
  height: 180px;
}
.book_pfwrap .sub_ri .count h2 {
  font-size: 12px;
  font-weight: 500;
  color: #333;
  margin: 16px 0 14px;
}
.book_pfwrap .sub_ri .ct_btn {
  display: flex;
  flex-direction: column;
}
.book_pfwrap .sub_ri .ct_btn .countbtn {
  display: flex;
}
.book_pfwrap .sub_ri .ct_btn .countbtn p {
  font-size: 12px;
  color: #666;
  margin-right: 10px;
}
.book_pfwrap .sub_ri .ct_btn .countbtn input {
  width: 70px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  border: none;
  border-color: transparent;
  font-size: 12px;
  color: #333;
  -webkit-appearance: none;
  border-radius: 0;
  outline-style: none;
  background-color: transparent;
  vertical-align: top;
  background-color: #fff;
}
.book_pfwrap .sub_ri .ct_btn .countbtn button {
  line-height: 16px;
  top: 0;
  width: 20px;
  height: 20px;
  border: solid 1px #ebebeb;
  border-right-color: #d8d8d8;
  border-bottom-color: #d8d8d8;
  background-color: transparent;
}
.book_pfwrap .sub_ri .ct_btn .cart {
  width: 180px;
  height: 40px;
  border: 1px solid #0080ff;
  border-bottom: 1px solid #0080ff;
  border-right: 1px solid #0080ff;
  background-color: #0080ff;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  margin: 20px 0 6px;
}
.book_pfwrap .sub_ri .ct_btn .buy {
  width: 180px;
  height: 40px;
  border: 1px solid #199db3;
  border-bottom: 1px solid #168da1;
  border-right: 1px solid #168da1;
  background-color: #199db3;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
}
.book_pfwrap .sub_ri .count_bot p {
  font-size: 12px;
  color: #666;
  margin-top: 6px;
}
.book_pfwrap .sub_ri .count_bot p:nth-of-type(1) {
  margin-top: 16px;
}
.book_pfwrap .sub_ri .count_bot button {
  width: 180px;
  height: 40px;
  background-color: #fff;
  color: #333;
  border: 1px solid #cacaca;
  border-radius: 4px;
}
.book_pfwrap .sub_ri .count_bot button:nth-of-type(1) {
  margin: 20px 0 6px;
}

.section2_wrap {
  width: 1200px;
  height: 100px;
  margin: 20px auto;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  position: relative;
}
.section2_wrap .ta_list {
  height: 100px;
  border-bottom: none;
}
.section2_wrap .ta_list .ta {
  display: flex;
  height: 25px;
  line-height: 23px;
  background-color: #fff;
}
.section2_wrap .ta_list .ta:not(:nth-of-type(1)) .ta_sub {
  display: none;
}
.section2_wrap .ta_list a {
  font-size: 12px;
  color: #666;
  width: 200px;
  height: 25px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding-left: 10px;
}
.section2_wrap .ta_list .ta_sub .taimg {
  position: absolute;
  top: 0;
  width: 753px;
  height: 100px;
}
.section2_wrap .ta_list .full {
  background-color: #ececec;
}
.section2_wrap .sub_ad1 img {
  width: 216px;
  height: 98px;
}

.wt_wrap {
  width: 1200px;
  height: 400px;
  margin: 40px auto;
  border: 1px solid #e5e5e5;
  position: relative;
}
.wt_wrap h4 {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}
.wt_wrap h5 {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.wt_wrap h3 {
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.wt_wrap h3 span {
  font-size: 12px;
  color: #333;
  font-weight: 400;
}
.wt_wrap .wtbook_btn {
  display: flex;
  height: 46px;
  text-align: center;
  font-size: 16px;
  color: #333;
  line-height: 42px;
}
.wt_wrap .wtbook_btn span {
  color: #69c;
}
.wt_wrap .wtbook_btn .wbbtn1,
.wt_wrap .wtbook_btn .wbbtn2 {
  border-right: 1px solid #e5e5e5;
  width: 600px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.wt_wrap .wtbook_btn .wbbtn1 {
  border-right: 1px solid #e5e5e5;
}
.wt_wrap .wtbook_btn .active {
  background: #fff;
  border-bottom: none;
}
.wt_wrap .wtbook {
  width: 1200px;
  height: 350px;
  display: flex;
  justify-content: center;
}
.wt_wrap .wtbook .wtbook_sub {
  display: flex;
}
.wt_wrap .wtbook .wtbook_sub img {
  width: 125px;
  height: 185px;
}
.wt_wrap .wtbook .wtbook_sub .wtbox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 180px;
  padding-left: 30px;
}
.wt_wrap .wtbook .wtbook_sub:not(:nth-of-type(1)) {
  display: none;
}
.wt_wrap .mabook {
  width: 1200px;
  height: 350px;
  display: flex;
  justify-content: center;
}
.wt_wrap .mabook .mabook_sub {
  display: flex;
}
.wt_wrap .mabook .mabook_sub img {
  width: 125px;
  height: 185px;
}
.wt_wrap .mabook .mabook_sub .mabox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 180px;
  padding-left: 30px;
}
.wt_wrap .mabook .mabook_sub:not(:nth-of-type(1)) {
  display: none;
}
.wt_wrap span:hover {
  cursor: pointer;
}
.wt_wrap .prev_sub1 {
  position: absolute;
  top: 190px;
  left: 0;
  padding: 8px 12px 8px 10px;
  background-color: #696969;
  color: #fff;
}
.wt_wrap .next_sub1 {
  position: absolute;
  top: 190px;
  right: 0;
  padding: 8px 10px 8px 12px;
  background-color: #696969;
  color: #fff;
}

.detail_wrap {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.detail_wrap .dtbtn_wrap {
  width: 1200px;
  border-top: solid 1px #ebebeb;
  border-bottom: 1px solid #363636;
  display: flex;
  justify-content: space-between;
  height: 58px;
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 1000;
}
.detail_wrap .dtbtn_wrap .dtbtn {
  display: flex;
}
.detail_wrap .dtbtn_wrap .bookdt,
.detail_wrap .dtbtn_wrap .review,
.detail_wrap .dtbtn_wrap .deliver {
  width: 170px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: center;
  line-height: 56px;
}
.detail_wrap .dtbtn_wrap .bookdt {
  border-right: solid 1px #ebebeb;
}
.detail_wrap .dtbtn_wrap .review {
  border-right: solid 1px #ebebeb;
}
.detail_wrap .dtbtn_wrap .adc_color {
  background-color: #333;
  color: #fff;
  border: none;
}
.detail_wrap .dtbtn_wrap .dtbuy {
  display: flex;
  line-height: 40px;
  align-items: center;
  width: 270px;
}
.detail_wrap .dtbtn_wrap .dtbuy h2 {
  font-size: 24px;
  color: #f66;
  margin-right: 3px;
}
.detail_wrap .dtbtn_wrap .dtbuy h2 span {
  font-size: 13px;
  font-weight: 400;
}
.detail_wrap .dtbtn_wrap .dtbuy button {
  width: 80px;
  height: 30px;
  color: #fff;
  border: solid 1px #ebebeb;
  border-radius: 4px;
  line-height: 30px;
  margin-left: 4px;
}
.detail_wrap .dtbtn_wrap .dtbuy .cart_s {
  background-color: #0080FF;
}
.detail_wrap .dtbtn_wrap .dtbuy .buy_s {
  background-color: #199DB3;
}
.detail_wrap .dtsub_wrap {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.detail_wrap .dtsub_wrap .dt_sub {
  width: 940px;
}
.detail_wrap .dtsub_wrap .dt_sub h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 40px 0 20px 0;
}
.detail_wrap .dtsub_wrap .dt_sub h4 {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}
.detail_wrap .dtsub_wrap .dt_sub .item table {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-collapse: collapse;
}
.detail_wrap .dtsub_wrap .dt_sub .item th {
  width: 170px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  background-color: #f8f8f8;
  padding: 12px;
  border-right: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .item th:nth-of-type(4) {
  border-bottom: none;
}
.detail_wrap .dtsub_wrap .dt_sub .item td {
  width: 770px;
  font-size: 12px;
  font-weight: 400;
  color: #666;
  padding: 12px 14px;
  border-bottom: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .item td:nth-of-type(4) {
  border-bottom: none;
}
.detail_wrap .dtsub_wrap .dt_sub .with {
  width: 940px;
  border-bottom: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .with h4 {
  margin-bottom: 6px;
}
.detail_wrap .dtsub_wrap .dt_sub .with p {
  font-size: 12px;
  color: #666;
  margin-bottom: 40px;
}
.detail_wrap .dtsub_wrap .dt_sub .event {
  width: 940px;
  border-bottom: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .event .evtsub_wrap {
  display: flex;
  justify-content: space-between;
}
.detail_wrap .dtsub_wrap .dt_sub .event .evtsub_wrap span {
  font-size: 15px;
  font-weight: 400;
  color: #555;
}
.detail_wrap .dtsub_wrap .dt_sub .event .evtsub_wrap img {
  width: 300px;
  height: 150px;
}
.detail_wrap .dtsub_wrap .dt_sub .event .evtsub_wrap h5 {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  margin: 6px 0 0 0;
}
.detail_wrap .dtsub_wrap .dt_sub .event .evtsub_wrap p {
  font-size: 12px;
  color: #999;
  margin-bottom: 50px;
}
.detail_wrap .dtsub_wrap .dt_sub .cover {
  width: 940px;
  border-bottom: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .cover h5 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
  padding: 4px;
}
.detail_wrap .dtsub_wrap .dt_sub .cover p {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  padding: 4px;
}
.detail_wrap .dtsub_wrap .dt_sub .cover p:nth-of-type(1) {
  margin-top: 30px;
}
.detail_wrap .dtsub_wrap .dt_sub .cover p:nth-of-type(3) {
  margin-bottom: 40px;
}
.detail_wrap .dtsub_wrap .dt_sub .content {
  width: 940px;
  border-bottom: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .content p {
  font-size: 15px;
  color: #666;
  margin-bottom: 40px;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .writer_sub {
  border: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .wt_sub1 {
  width: 940px;
  height: 50px;
  padding: 13px 10px 13px 20px;
  border-bottom: solid 1px #ebebeb;
  background-color: #f8f8f8;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .wt_sub1 h3 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .wt_sub1 h3 span {
  font-weight: 400;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .wt_sub2 {
  display: flex;
  width: 878px;
  border-bottom: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .wt_sub2 img {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  margin: 30px;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .wt_sub2 p {
  font-size: 15px;
  color: #666;
  padding: 4px 4px 4px 0;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .wt_sub2 p:nth-of-type(1) {
  margin-top: 30px;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .otherbook {
  padding-left: 35px;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .other .otherbox {
  width: 130px;
  height: 302px;
  border-radius: 4px;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .other .otherbox img {
  width: 130px;
  height: auto;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .other .otherbox img:hover {
  opacity: 0.5;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .other .otherbox h3 {
  font-size: 13px;
  font-weight: 600;
  margin-top: 4px;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .other .otherbox h3 span {
  font-size: 12px;
  color: #333;
  font-weight: 400;
}
.detail_wrap .dtsub_wrap .dt_sub .writer .other .otherbox h4 {
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}
.detail_wrap .dtsub_wrap .dt_sub .inbook {
  width: 940px;
  border-bottom: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .dt_sub .inbook p {
  margin-bottom: 30px;
  font-size: 15px;
  color: #666;
}
.detail_wrap .dtsub_wrap .dt_sub .pb_review {
  width: 940px;
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 30px;
}
.detail_wrap .dtsub_wrap .dt_sub .pb_review h5 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
}
.detail_wrap .dtsub_wrap .dt_sub .pb_review p {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.detail_wrap .dtsub_wrap .bsyc .youth img {
  width: 220px;
  height: auto;
  margin-left: 39px;
  margin-top: 30px;
}
.detail_wrap .dtsub_wrap .bestseller {
  width: 220px;
  height: 580px;
  border: solid 1px #ebebeb;
  margin-left: 38px;
  margin-top: 50px;
  padding: 0 20px;
}
.detail_wrap .dtsub_wrap .bestseller h2 {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
}
.detail_wrap .dtsub_wrap .bestseller .bsbook {
  width: 188px;
  height: 95px;
  display: flex;
  margin-bottom: 14px;
}
.detail_wrap .dtsub_wrap .bestseller .bsbook .bsbookimg {
  width: 62px;
  margin-right: 10px;
}
.detail_wrap .dtsub_wrap .bestseller .bsbook .bsbookimg img {
  width: 62px;
  height: 100%;
  border-radius: 4px;
  border: solid 1px #ebebeb;
}
.detail_wrap .dtsub_wrap .bestseller .bsbook .bsbooktxt h4 {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}
.detail_wrap .dtsub_wrap .bestseller .bsbook .bsbooktxt h5 {
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.detail_wrap .dtsub_wrap .bestseller .bsbook .bsbooktxt h3 {
  font-size: 12px;
  font-weight: 600;
}
.detail_wrap .dtsub_wrap .bestseller .bsbook .bsbooktxt h3 span {
  font-weight: 400;
  color: #333;
}
.detail_wrap .reviewwrap {
  width: 940px;
}
.detail_wrap .reviewwrap .reviewtxt h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}
.detail_wrap .reviewwrap .reviewtxt h2 span {
  color: #333;
  font-weight: 400;
  margin-left: 10px;
}
.detail_wrap .reviewwrap .reviewtxt p {
  color: #666;
  font-size: 13px;
  line-height: 20px;
}
.detail_wrap .reviewwrap .bigstar {
  border: 1px solid #ebebeb;
  margin-top: 40px;
  margin-bottom: 40px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .rvtap {
  display: flex;
}
.detail_wrap .reviewwrap .reviewtap_wrap .rvtap div {
  width: 235px;
  height: 48px;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
  line-height: 46px;
  font-weight: 500;
  border: solid 1px #d8d8d8;
  border-left: none;
}
.detail_wrap .reviewwrap .reviewtap_wrap .rvtap .addall {
  border-left: solid 1px #d8d8d8;
  border-bottom: none;
  background-color: white;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all {
  border: solid 1px #d8d8d8;
  border-top: none;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn {
  width: 880px;
  margin: 0 auto;
  display: flex;
  border-bottom: solid 1px #d8d8d8;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn .allleft {
  margin: 20px 0;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn .allleft .num {
  font-weight: 600;
  padding: 2px 8px 3px 8px;
  border: solid 1px #d8d8d8;
  border-radius: 4px;
  font-size: 13px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn .allleft .num2 {
  font-weight: 400;
  padding: 2px 8px 3px 8px;
  font-size: 13px;
  color: #666;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn .allleft .prev_all {
  color: #999;
  font-weight: 600;
  padding: 4px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn .allleft .next_all {
  font-weight: 600;
  padding: 4px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn .allright {
  margin-left: 560px;
  display: flex;
  align-items: center;
  color: #666;
  font-size: 13px;
  line-height: 50px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn .allright p {
  padding: 8px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn .allright p span {
  font-weight: 500;
  color: #69c;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap {
  width: 880px;
  margin: 0 auto;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allbtn:last-child {
  border-bottom: none;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv {
  height: 180px;
  border-bottom: solid 1px #d8d8d8;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub1 p,
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub2 p,
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub3 p,
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub4 p,
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub5 p {
  margin-top: 20px;
  font-size: 15px;
  color: #666;
  line-height: 24px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub1 p span,
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub2 p span,
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub3 p span,
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub4 p span,
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_sub5 p span {
  font-size: 13px;
  color: #69c;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_subwrap {
  display: flex;
  align-items: center;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_subwrap .rvsubimg {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-top: 20px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allrv .rv_subwrap .rvsubimg img {
  width: 80px;
  height: 80px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap h3 {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  padding: 14px 0 8px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allstar {
  margin-left: -6px;
  display: flex;
  font-size: 12px;
  color: #999;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allstar .asimgbox img {
  width: 78px;
  height: auto;
  padding: 0 8px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allstar a {
  font-size: 12px;
  color: #69c;
  padding: 0 8px;
}
.detail_wrap .reviewwrap .reviewtap_wrap .all .allrv_wrap .allstar p {
  padding: 0 8px;
}
.detail_wrap .field_bookwrap {
  width: 940px;
  height: 336px;
  position: relative;
  border: solid 1px #ebebeb;
  margin-top: 40px;
}
.detail_wrap .field_bookwrap h2 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 20px 0 20px 20px;
}
.detail_wrap .field_bookwrap h2 span {
  color: #69c;
}
.detail_wrap .field_bookwrap .fb_slider {
  display: flex;
  margin: 20px 0 0 70px;
}
.detail_wrap .field_bookwrap .fb_slider .fb_wrap {
  display: flex;
  padding-left: 40px;
}
.detail_wrap .field_bookwrap .fb_slider .fb_wrap .fbook {
  width: 200px;
  height: 220px;
}
.detail_wrap .field_bookwrap .fb_slider .fb_wrap .fbook img {
  width: 125px;
  height: auto;
}
.detail_wrap .field_bookwrap .fb_slider .fb_wrap .fbook h4 {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}
.detail_wrap .field_bookwrap .fb_slider .fb_wrap .fbook h5 {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.detail_wrap .field_bookwrap .fb_slider .fb_wrap .fbook h3 {
  font-size: 13px;
  font-weight: 600;
}
.detail_wrap .field_bookwrap .fb_slider .fb_wrap .fbook h3 span {
  font-weight: 400;
  color: #333;
}
.detail_wrap .field_bookwrap .fb_slider .fb_wrap:not(:nth-of-type(1)) {
  display: none;
}
.detail_wrap .field_bookwrap .prev_sub2 {
  position: absolute;
  top: 45%;
  left: 0;
  padding: 8px 10px 8px 8px;
  background-color: rgba(95, 95, 95, 0.5);
  color: #fff;
  z-index: 200;
}
.detail_wrap .field_bookwrap .next_sub2 {
  position: absolute;
  top: 45%;
  right: 0;
  padding: 8px 8px 8px 10px;
  background-color: rgba(95, 95, 95, 0.5);
  color: #fff;
  z-index: 200;
}
.detail_wrap .dv_wrap {
  width: 940px;
  margin-top: 40px;
}
.detail_wrap .dv_wrap h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.detail_wrap .dv_wrap h3 {
  font-size: 16px;
  color: #69c;
  font-weight: 500;
  margin-bottom: 10px;
}
.detail_wrap .dv_wrap p {
  font-size: 13px;
  color: #666;
  margin-bottom: 14px;
}
.detail_wrap .dv_wrap table {
  border-collapse: collapse;
  border-top: 1px solid #d8d8d8;
  margin-bottom: 20px;
}
.detail_wrap .dv_wrap table th {
  width: 170px;
  background-color: #f8f8f8;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  padding: 12px 0;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.detail_wrap .dv_wrap table td {
  width: 770px;
  padding: 12px 14px;
  color: #666;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #d8d8d8;
}
.detail_wrap .upbox {
  box-shadow: 0px 4px 8px rgba(185, 185, 185, 0.7);
  background-color: #fff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  position: sticky;
  bottom: 60px;
  margin-left: 1060px;
  margin-bottom: 40px;
}
.detail_wrap .upbox a {
  text-align: center;
  display: block;
}