@charset "utf-8";

.sc1_wrap {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 400px;
    margin: 40px auto;

    .Lef {
        border: 1px solid #d8d8d8;

        .Lef_1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 238px;
            height: 268px;
            background-color: white;
            position: relative;
            border-bottom: 1px solid #d8d8d8;

            h2 {
                align-self: flex-start;
                margin: 20px 0 0 21px;
                font-size: 16px;
                font-weight: 500;
            }

            .Lef_slider {
                display: flex;
                flex-direction: column;

                img {
                    width: 200px;
                    height: 153px;
                }

                p {
                    margin-top: 6px;
                    font-size: 13px;
                    font-weight: 500;
                }

                .Lef_sliderSub {
                    margin-top: 12px;
                }

                .Lef_sliderSub:not(:first-of-type) {
                    display: none;
                }

                span {
                    position: absolute;
                    display: block;
                    top: 40%;
                    border-radius: 2px;
                    color: #121212;
                    cursor: pointer;
                }

                .prev1 {
                    left: 0;
                    padding: 5px 5px 5px 6px;
                }

                .next1 {
                    right: 0;
                    padding: 5px 5px 5px 5px;
                }
            }
        }

        .Lef_2 {
            width: 238px;
            height: 120px;
            background-color: #fff;

            img {
                margin: 8px 0 10px 25px;
                width: 188px;
                height: 99px;
            }
        }
    }

    .Cen {
        width: 790px;
        height: 390px;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
        position: relative;

        h2 {
            font-size: 16px;
            font-weight: 500;
            margin: 20px 0 26px 40px;
        }


        .Cen_bookwrap {
            display: flex;
            position: relative;

            .Cen_book {
                position: absolute;
                width: 560px;
                display: flex;
                margin: 0 auto;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        .Cen_book:not(:nth-of-type(1)) {
            display: none;
        }

        .box {
            img {
                width: 190px;
                height: 280px;
                border: 1px solid #d8d8d8;
            }
        }

        .textbox {
            margin-left: 20px;

            h3 {
                font-size: 14px;
                font-weight: 500;
                margin-top: 10px;
            }

            h4 {
                font-size: 15px;
                font-weight: 500;
                margin-top: 20px;
            }

            h5 {
                font-size: 12px;
                color: #a8a8a8;
                font-weight: 400;
            }

            h6 {
                font-size: 16px;
                color: #6699cc;
                font-weight: 500;
            }

            p {
                margin-top: 16px;
                font-size: 13px;
                color: #a8a8a8;
            }

        }

        .prev7 {
            position: absolute;
            top: 48%;
            left: 0;
            padding: 8px 12px 8px 10px;
            background-color: #696969;
            color: #fff;
        }

        .next7 {
            position: absolute;
            top: 50%;
            right: 0;
            padding: 8px 10px 8px 12px;
            background-color: #696969;
            color: #fff;
        }

        span:hover {
            cursor: pointer;
        }
    }

    .Rig {
        width: 240px;
        height: 389px;
        border: 1px solid #d8d8d8;
        background-color: #fff;

        .Rig_p {
            display: flex;
            justify-content: space-evenly;

            p {
                width: 120px;
                font-size: 13px;
                text-align: center;
                padding: 10px;
                border-bottom: 1px solid #d8d8d8;

                &:nth-of-type(1) {
                    border-right: 1px solid #d8d8d8;
                }

            }
        }

        select {
            width: 200px;
            margin: 10px 0 0 18px;
        }

        .rankwrap {
            width: 240px;
            margin-left: 18px;

            em {
                font-size: 12px;
                font-style: normal;
                color: #cecece
            }

            a {
                font-size: 12px;
            }
        }

        .rank_book {
            display: flex;
            flex-direction: column;

            .rank_bookSub {
                display: flex;
                align-items: center;
                margin-top: 16px;

                p {
                    margin-left: 6px;

                    &:nth-of-type(1) {
                        font-size: 14px;
                    }

                    &:nth-of-type(2) {
                        font-size: 12px;
                        color: #666;
                    }
                }
            }

            span {
                width: 14px;
                height: 14px;
                font-size: 10px;
                text-align: center;
                background-color: #4383d6;
                color: #fff;
                line-height: 14px;
            }

            .book_img {
                margin-left: 10px;
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
    }
}