@charset "utf-8";

.catewrap {

  .ct {
    a {
      font-size: 14px;
      font-weight: bold;
    }
    
  }

}

.ct_sub {
  font-size: 12px;
  color: #666;

  a:hover {
    text-decoration: underline;
  }

  display: none;
}