@charset "utf-8";

.categ {
    width: 100%;
    height: 41px;
    background-color: #f8f8f8;
    border-bottom: solid 1px #e5e5e5;

    .categ_txt {
        width: 1200px;
        margin: 0 auto;
        height: 41px;
    }

    h3 {
        font-size: 12px;
        font-weight: 400;
        color: #666;
        line-height: 40px;
        margin-left: 12px;
    }
}

.book_pfwrap {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    display: flex;

    .bookimg_3D {
        margin: 50px 30px 0 60px;
        width: 350px;
        height: 600px;
        perspective: 1400px;
        transform-style: preserve-3d;

        .book3D {
            position: relative;
            transition: 0.5s;
            transform-style: preserve-3d;
            cursor: url(/API/img/ico_flip.svg), pointer !important;
            width: 350px;
            height: 520px;
            box-shadow: 20px 12px 14px #c4c4c4;

            .front {
                width: 350px;
                height: 520px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .book3D:hover {
            transform: rotateY(40deg);
        }
        .book3D.rotate {
            transform: rotateY(180deg);
        }
        .book3D::before {
            content: "";
            width: 46px;
            height: 520px;
            position: absolute;
            background-size: cover;
            background-position: center;
            transform-origin: left;
            transform: rotateY(90deg);
            background-image: url(../img/sub_book_s.jpg);
            left: 0;
            top:0;
        }
        .book3D::after {
            content: "";
            width: 350px;
            height: 520px;
            position: absolute;
            background-image: url(../img/sub_book_b.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            transform-origin: left;
            transform: rotateY(180deg) translateZ(30px) translateX(-346px);
            left: 2px;
            backface-visibility: hidden;
        }
    

        .bookimg_btn {
            margin: 34px 0 0 25px;
            position: absolute;
        }

        button {
            width: 96px;
            height: 30px;
            background-color: #fff;
            font-size: 12px;
            color: #121212;
            font-weight: 500;
            border: solid 1px #e5e5e5;
            border-radius: 4px;
            line-height: 30px;
            text-align: center;
        }
    }

    .book_sub {
        width: 480px;
        height: 650px;
        margin-left: 30px;
        margin-top: 40px;

        .sub_le {
            .sub1_1 {
                width: 600px;
                border-bottom: solid 1px #e5e5e5;
                height: 160px;

                span {
                    font-size: 11px;
                    color: #666;
                    padding: 2px 6px 4px 6px;
                    border: solid 0.5px #e5e5e5;
                    border-radius: 4px;
                }

                h1 {
                    font-size: 25px;
                    color: #333;
                    margin-top: 10px;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    width: 213px;
                    margin-top: 10px;

                    li {
                        font-size: 12px;
                        color: #666;
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            border-right: solid 1px #ccc;
                            height: 10px;
                            right: -12px;
                            top: 50%;
                            margin-right: 4px;
                            transform: translateY(-50%);
                        }
                    }

                    li:last-child::after {
                        display: none;
                    }
                }
            }

            .star {
                display: flex;
                align-items: baseline;
                margin-top: 8px;

                img {
                    width: 90px;
                    height: 16px;
                }

                p {
                    font-size: 12px;
                    color: #333;
                    position: relative;
                    margin-right: 14px;

                    .star_score {
                        font-size: 20px;
                        color: #000;
                        font-weight: 600;
                        border: none;
                    }
                }

                .sell {
                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 6px;
                    }

                    img {
                        width: 50px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .sub2 {
        border-bottom: solid 0.5px #e5e5e5;
        padding: 20px 0 24px 0;

        tr {
            font-size: 12px;
            color: #666;
            text-align: left;

            th {
                width: 100px;
                font-weight: 400;
                height: 30px;
            }

            .th_b {
                font-weight: 600;
            }

            .clr {
                color: #f66;
            }

            .clred {
                font-size: 24px;
                color: #f66;
                font-weight: 600;
                margin-left: -4px;
            }

            .help {
                border: solid 0.5px #e5e5e5;
                padding: 0 6px 2px 6px;
                margin-left: 5px;
                box-shadow: 1px 1px 1px #cccccc;
            }
        }
    }

    .sub_3 {
        border-bottom: solid 0.5px #e5e5e5;
        padding: 20px 0 24px 0;

        table {
            font-size: 12px;
            color: #666;
            text-align: left;

            th {
                width: 100px;
                font-weight: 400;
            }
        }
    }

    .sub_4 {
        padding: 20px 0 24px 0;

        table {
            font-size: 12px;
            color: #666;
            text-align: left;

            th {
                font-weight: 400;
                width: 100px;
            }
        }

        .bgblue {
            display: flex;
            align-items: baseline;
            background-color: #edf5fe;
            width: 480px;
            height: 50px;
            padding-top: 15px;
            margin-top: 16px;

            span {
                color: #666;
                border: 1px solid #e5e5e5;
                padding: 0 6px 4px 6px;
                border-radius: 4px;
                background-color: #fff;
                margin-right: 8px;
                font-size: 11px;
                margin-left: 20px;
            }

            p {
                font-size: 12px;
            }

            .p1 {
                font-weight: 500;
            }

            .p2 {
                color: #666;
                margin-left: 6px;
            }
        }

        .free {
            font-size: 12px;
            color: #666;
            margin-top: 16px;
            line-height: 50%;

            span {
                border: 1px solid #e5e5e5;
                padding: 0 6px 2px 6px;
                box-shadow: 1px 1px 1px #cccccc;
            }
        }
    }

    .sub_5 {
        width: 480px;
        height: 30px;
        border: 1px solid #e5e5e5;

        p {
            font-size: 12px;
            color: #666;
            margin-left: 20px;
            padding-top: 5px;

            span {
                color: #69c;
            }
        }
    }


    .sub_ri {
        width: 220px;
        background-color: #ebebeb;
        padding-left: 20px;
        height: 430px;
        margin-top: 199px;
        border-top: 1px solid #e5e5e5;
        margin-left: 43px;

        .count {
            width: 180px;
            border-bottom: 1px solid #cacaca;
            height: 180px;

            h2 {
                font-size: 12px;
                font-weight: 500;
                color: #333;
                margin: 16px 0 14px;
            }
        }

        .ct_btn {
            display: flex;
            flex-direction: column;

            .countbtn {
                display: flex;

                p {
                    font-size: 12px;
                    color: #666;
                    margin-right: 10px;
                }

                input {
                    width: 70px;
                    text-align: center;
                    height: 20px;
                    line-height: 20px;
                    overflow: hidden;
                    border: none;
                    border-color: transparent;
                    font-size: 12px;
                    color: #333;
                    -webkit-appearance: none;
                    border-radius: 0;
                    outline-style: none;
                    background-color: transparent;
                    vertical-align: top;
                    background-color: #fff;
                }

                button {
                    line-height: 16px;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border: solid 1px #ebebeb;
                    border-right-color: #d8d8d8;
                    border-bottom-color: #d8d8d8;
                    background-color: transparent;
                }
            }

            .cart {
                width: 180px;
                height: 40px;
                border: 1px solid #0080ff;
                border-bottom: 1px solid #0080ff;
                border-right: 1px solid #0080ff;
                background-color: #0080ff;
                border-radius: 4px;
                color: #fff;
                font-size: 13px;
                margin: 20px 0 6px;
            }

            .buy {
                width: 180px;
                height: 40px;
                border: 1px solid #199db3;
                border-bottom: 1px solid #168da1;
                border-right: 1px solid #168da1;
                background-color: #199db3;
                border-radius: 4px;
                color: #fff;
                font-size: 13px;
            }
        }

        .count_bot {
            p {
                font-size: 12px;
                color: #666;
                margin-top: 6px;
            }

            p:nth-of-type(1) {
                margin-top: 16px;
            }

            button {
                width: 180px;
                height: 40px;
                background-color: #fff;
                color: #333;
                border: 1px solid #cacaca;
                border-radius: 4px;
            }

            button:nth-of-type(1) {
                margin: 20px 0 6px;
            }
        }
    }
}