@charset "utf-8";

$fontcolor : #121212;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $fontcolor
}
#category_wrap {
  width: 100vw;
  height: 38px;
  background-color: #097cff;
  

  #h_category {
    width: 1200px;
    height: 38px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 11px;

    a {
      color: #ffffff;
    }

    .cate_L {
      width: 540px;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }
    #R {
      display: flex;
    }
    .cate_R {
      width: 260px;
      display: flex;
      justify-content: space-between;
    }
    .glo {
      margin-left: 16px;
    }

  }
}

// 검색창 보더 컬러 
#search_wrap  {
  width: 100vw;
  height: 112px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  line-height: 50%;
  
    .h_search {
      width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;

      .h_search2 {
        display: flex;
        align-items: center;

        fieldset {
        width: 520px;
        height: 52px;
        border: 2px solid #007aff;
        border-radius: 4px;
        margin-left: 50px;
        
        
        input {
          width: 430px;
          height: 48px;
          border: none;
          margin-left: 18px;
          // background-color: #e2e2e2;
        }
        button {
          width: 60px;
          height: 48px;
          border: 0;
          vertical-align: top;
          background: url(/API/img/gnbN4.png) no-repeat 0 0;
          -webkit-appearance: button;
        }
      }
    }

    #h_AD {
      width: 180px;
      height: 112px;
      margin-left: 50px;
      img {
        width: 100%;
        height: 112px;
      }
    }
  }
}

#find_wrap {
  width: 100vw;
  height: 44px;
  border-bottom: 3px solid #007aff;

  .h_find {
    width: 1200px;
    margin: 0 auto;
    display: flex;

    span {
      width: 110px;
      height: 43px;
      background-color: #0080ff;
      font-size: 13px;
      line-height: 40px;
      text-align: center;
      color: #fff;
    }
      .R_find {
        display: flex;
        align-items: center;
        

        .list_1 {
        li {
          display: none;
        }
      }
      
      .list_2 {
        display: flex;
      }

      .list_3 {
        display: flex;
      }
    }
  }
  .list_4 {
    display: flex;
  }

  a {
    font-size: 13px;
  }
}
